
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;
}
.content > h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0px 380px;
} 

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
  }
